@import "../../../../styles/theme.scss";
@import "../../../../styles/mixins.scss";

.ContactCard {
  &:first-child {
    margin: 0 1rem 0 0;
  }
  &:last-child {
    margin: 0 0 0 1rem;
  }
  @include make-card($color-2);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  &__header {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: auto auto;
  }
  &__title {
    margin: 0.5rem 0;
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.75rem;
  }
  &__body {
    display: grid;
    grid-template-rows: auto auto;
  }
}

@media screen and (max-width: 600px) {
  .ContactCard {
    &:first-child {
      margin: 0 0 1rem;
    }
    &:last-child {
      margin: 1rem 0 0;
    }
  }
}
