@import "../../styles/theme.scss";
@import "../../styles/mixins.scss";

.CardsList {
  opacity: 0;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  &__header {
    padding: 2rem;
    & > h1 {
      padding: 0 0 1rem;
      margin: 0 2rem;
      border-bottom: 2px solid;
      text-align: center;
    }
  }
  &__body {
    height: 100%;
    display: grid;
  }
  &__noItems {
    @include make-card($color-2);
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    &--wrapper {
      opacity: 0;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    & h2 {
      text-align: center;
      &::after {
        content: "... :(";
      }
    }
  }
}
