@import "../../styles/theme.scss";
@import "../../styles/mixins.scss";

.Contact {
  opacity: 0;
  &__header {
    padding: 2rem 2rem 0;
    margin: 0 2rem;
    border-bottom: 2px solid $color-4;
    & > h1 {
      border-bottom: 2px solid;
      text-align: center;
    }
    &--subtitle {
      display: flex;
      justify-content: center;
      align-items: center;
      & > h2 {
        text-align: center;
        margin-top: 0;
        border-bottom: 1px solid;
      }
    }
    & > p {
      text-align: center;
    }
  }
  &__cards {
    @include make-card($color-1);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .Contact {
    &__cards {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}
