@import "../../styles/theme.scss";
@import "../../styles/mixins.scss";

.Main {
  @include make-card($color-1);
  margin: 2rem 0;
  &__wrapper {
    opacity: 0;
  }
  &__title,
  &__subtitle {
    @include make-card($color-2);
    margin: 1rem 0;
    text-align: center;
  }
  &__links {
    margin: 1rem 0;
    &--header {
      @include make-card($color-2);
      /* margin: 0.25rem 0 ; */
      & .MainButton {
        margin: 0;
      }
    }
    &--button {
      display: grid;
      grid-template-columns: 1fr 30px;
      grid-template-rows: 1fr;
    }
    &--body {
      @include make-card($color-2);
      margin-top: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      & .MainButton {
        margin: 0 0.5rem;
      }
    }
  }
  &__body {
    @include make-card($color-2);
    margin-bottom: 0.25rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "info image" "langs langs";
  }
}

@media screen and (max-width: 950px) {
  .Main {
    &__body {
      grid-template-columns: 100%;
      grid-template-rows: auto auto auto;
      grid-template-areas: "image" "info" "langs";
    }
  }
  .MainInfoCard {
    &__container {
      justify-content: center !important;
      margin: 0.25rem auto;
    }
    &__about {
      padding: 0;
    }
  }
  .MainProfileImage {
    margin: 0.25rem auto !important;
  }
  .MainLanguages {
    &__body {
      grid-template-columns: 1fr 1fr !important;
    }
  }
}

@media screen and (max-width: 650px) {
  .Main {
    &__wrapper {
      padding: 0.8rem;
    }
    padding: 0.4rem;
    &__body {
      padding: 0.4rem;
    }
    &__links {
      &--body {
        & .MainButton {
          margin: 0.5rem 0;
        }
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
      }
    }
  }
  .MainInfoCard {
    &__container {
      margin-bottom: 0 !important;
    }
    & .TechStack {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
  }
  .MainLanguages {
    margin-top: 0.5rem !important;
    &__body {
      grid-template-columns: 1fr !important;
    }
  }
}
