@import "../../../styles/theme.scss";

.code_useVisibility {
  &__server-atencion {
    &__container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__icon {
      & > svg {
        fill: $color-5;
        transform: rotateZ(90deg);
      }
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr;
  }
}

@media screen and (max-width: 600px) {
  .code_useVisibility {
    &__server-atencion {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr auto 1fr;
      &__icon {
        & > svg {
          fill: $color-5;
          transform: rotateZ(180deg);
        }
      }
    }
  }
}
