@import "../../../../styles/theme.scss";
@import "../../../../styles/mixins.scss";

.DetailBasicInfo {
  @include make-card($color-3);
  position: relative;
  min-height: 250px;
  margin-bottom: 1rem;
  opacity: 0;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas: "info short" "stack stack";
  &__link {
    bottom: 0px;
    right: 0px;
    position: absolute;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
  }
  &__short {
    padding: 1rem 0 0;
    margin: 0 1rem;
    grid-area: short;
  }
  &__info {
    @include make-card($color-1);
    opacity: 0;
    grid-area: info;
    min-height: 180px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    & > table {
      width: 100%;
      & td {
        &:first-child {
          & > div {
            justify-content: flex-start;
          }
        }
        &:last-child {
          & > div {
            justify-content: flex-end;
          }
        }
        & > div {
          display: flex;
          align-items: center;
        }
      }
    }
    & > h3 {
      margin: 0;
      text-decoration: underline;
      text-align: center;
      &:after {
        content: ":";
      }
    }
    &--list {
      margin: 0.8rem auto;
      width: 40%;
      min-width: 270px;
      max-width: 400px;
      padding: 0 !important;
    }
    &--item {
      /* display: flex;
      justify-content: space-between;
      align-items: center; */
      /* display: grid;
      grid-template-columns: auto 10%;
      grid-template-rows: 1fr; */
      & h4 {
        &:after {
          content: ":";
        }
        margin: 0.25rem 0;
        white-space: nowrap;
      }
      & span {
        text-align: right;
      }
      & .MainButton {
        & > div {
          padding: 0 !important;
          margin-bottom: 0.2rem;
        }
        padding: 0 !important;
        border-radius: 0.2rem;
      }
    }
    &--github {
      &Icon {
        width: 15px;
        height: 15px;
      }
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: 1fr;
    }
  }
  &__stack {
    &.avoid-link-padding {
      padding-right: 0;
    }
    opacity: 0;
    grid-area: stack;
    padding: 0.5rem 200px 0 0;
  }
}

@media screen and (max-width: 900px) {
  .DetailBasicInfo {
    grid-auto-columns: 100%;
    grid-template-areas: "info" "short" "stack";
    &__stack {
      &.avoid-link-padding {
        padding-bottom: 0;
      }
      padding-right: 0;
      padding-bottom: 55px;
    }
  }
}
