@import "../../../../styles/theme.scss";
@import "../../../../styles/mixins.scss";

.DetailCodeSampleFile {
  margin-left: 1rem;
  margin-right: 1rem;
  &__multi {
    @include make-card-thin($color-2);
    padding-top: 0.01rem;
    padding-bottom: 1.1rem;
    margin-top: 1rem;
    /* & > * {
      padding: 0 0.5rem;
    } */
  }
}
