@import "../../../../styles/theme.scss";
@import "../../../../styles/mixins.scss";

.MainProfileImage {
  opacity: 0;
  margin: 0.25rem;
  width: 100%;
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
  &__container {
    width: auto;
    @include make-card($color-3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & img {
      width: 100%;
      max-width: 400px;
      border-radius: 0.4rem;
    }
    & p {
      margin: 0.5rem 0 0;
    }
  }
}
