@import "../../../../styles/theme.scss";
@import "../../../../styles/mixins.scss";

.MainInfoCard {
  opacity: 0;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    & .TechStack {
      &__wrapper {
        background-color: $color-3;
      }
      max-width: 600px;
      margin: 0.5rem 0.5rem 0;
      &__title {
        @include make-card-thin($color-1);
        margin: 0 2rem 0.5rem;
        text-align: center;
      }
      &__stackList {
        &--list {
          /* display: grid;
          grid-template-columns: repeat(8, 1fr); */
        }
      }
    }
  }
  &__about {
    padding: 0 0.5rem;
    & h4 {
      &:after {
        content: ":";
      }
    }
    & td {
      &:last-child {
        padding-left: 0.5rem;
        text-align: right;
      }
      & > span {
        margin-left: 0.15rem;
      }
    }
  }
  &__info {
    @include make-card($color-3);
    margin: 0 auto;
    max-width: 500px;
    & > h3 {
      @include make-card($color-1);
      text-align: center;
    }
  }
}
